.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

p {
  font-size: larger;
  text-align: center;
}

fw-400 {
  font-weight: 400;
}

.fw-400 {
  font-weight: 400;
}

.blc {
}

.timeline-icon {
  background-color: black;
}

.hstack {
  display: flex;
  flex: 1 1 auto;
  gap: 10px;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  gap: 50px;
}

.gap {
  column-gap: 16px;
}

.cards {
  object-fit: cover;
  aspect-ratio: 1285/675;
}

.card-img-class {
  object-fit: cover;
  aspect-ratio: 1080/1080;
}

.card-img-class {
  object-fit: cover;
  border-radius: 2%;
  aspect-ratio: 1080/1080;
  width: 100%;
}

.card-el {
  background-color: transparent;
}

.card {
  /*padding: 0;*/
  /*margin: 0;*/
  background-color: rgba(0,0,0,0);
  border-radius: 2%;
  /*border: 0.1px dotted black;*/
}

.vstack {
  display: flex;
}

.img-card {
  aspect-ratio: 1;
  object-fit: cover;
}

.cards {
  border-radius: 15px;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  /*display: flex;*/
  /*justify-content: left;*/
  /*align-items: center;*/
  /*gap: 10px;*/
  border-radius: 15px;
  /*padding: 30px;*/
}

.cards:hover {
  /*background-color: white;*/
  /*transform: scale(1.05);*/
  background-color: white !important;
}

.card_image {
  /*transition: filter 0.3s ease-in-out;*/
  /*filter: grayscale(100%);*/
  /*-webkit-filter: grayscale(100%);*/
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  border: none;
  /*filter: grayscale(100%);*/
}

.card_img {
  max-width: 100%;
  margin: 10px;
  color: transparent;
}

.border-light {
  border: none;
}

html {
}

.nav-link {
  font-weight: 400;
}

.card-img-overlay {
  /*position: relative;*/
  /*display: none;*/
  opacity: 0;
  /*left: 0;*/
  /*right: 100%;*/
}

.card-img-overlay:hover {
  /*display: block;*/
  opacity: 1;
}

a {
  text-decoration: none;
  --bs-link-color-rgb: black;
}

a:hover {
  --bs-link-color-rgb: black;
}

.fa {
  filter: blur(5ox);
}

